<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mottakin.tabitnow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".splashClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AfterLoginActivity"
            android:label="@string/title_activity_after_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CreateTournamentActivity"
            android:label="@string/title_activity_create_tournament"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewArchiveActivity"
            android:label="@string/title_activity_view_archive"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewSearchDetails"
            android:label="@string/title_activity_view_search_details"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".SearchJoin"
            android:label="@string/title_activity_search_join"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".TournamentRegistrationActivity"
            android:label="@string/title_activity_tournament_registration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".myTournamentsBoard"
            android:label="@string/title_activity_my_tournaments_board"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".addDataToTournament"
            android:label="@string/title_activity_add_data_to_tournament"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".LoadTournament"
            android:label="@string/title_activity_load_tournament"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddTeamsActivity"
            android:label="@string/title_activity_add_teams"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>